<p>author works!</p>

<button (click)="buttonClick3()">show id</button>
<button (click)="buttonClick4()">show firtsname</button>
<button (click)="buttonClick5()">show both</button>


<div class="container">
  <div class="list" *ngFor="let item of authorList">
    <div class="list-item">
      <span class="list-row">
        <label for="">Author ID:</label>{{item.authorId}}
        <!-- <button
        (click)="deleteAuthor(item.authorId)">X</button> -->
      </span>
      <span class="list-row">
        <label for="">Author Firstname: </label>{{item.firstName}}
      </span>
    </div>
  </div>
</div>
<!-- der findes mindst 6 forskellige måder at få input fra <input> -->
<!-- #firstname kaldes en reference -->
<input type="text" #firstname>
<input type="number" #bla>
<button (click)="getInput(bla.value)">omg</button>
<button (click)="getInput(firstname.value)">rofl</button>
<!-- <input type="text" ngModel name = "knud" > -->
